# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.build/

# Vite
.vite/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json

# Notebooks
.ipynb_checkpoints/
